## Instructions
This notebook allows you to check that your csv was properly formatted after running the `tabula_csv_parser.ipynb` notebook. Just replace the file name with your file and you're good to go!

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./campaign_finance_data/processed/pete_boland_june_finance.csv')

In [3]:
df

,Date,Amount,Payment Type,First,Last,Address,City,State,Zipcode,Occupation
0,06/04/21,$250.00,Check,W.G.,Poor,111 2nd Ave NE ste,NaN,NaN,1600.0,Accountant
1,06/05/21,$100.00,Check,Kristina,Beckert,1243 29th St N,Saint Petersburg,FL,NaN,Salon Manager
2,06/05/21,$200.00,Check,Codie,Sengaroun,1243 29th St N,Saint Petersburg,FL,NaN,Sales
3,06/05/21,$100.00,Check,Kristin,Turner,944 27th ST. N,St. Petersburg,FL,33713.0,Marketing Manager
4,06/05/21,$500.00,Check,Andy,Dolan,8201 37th Ave N,St. Petersburg,FL,33710.0,Business Owner
...,...,...,...,...,...,...,...,...,...,...
79,06/25/21,$500.00,Check,Jerome,Lavely,2157 Bayou Grande Blvd,NE,NaN,NaN,Retired
80,06/25/21,$400.00,Check,Vice,Hospitality,Group LLC 3045 Dr MLK Jr St N,St. Petersburg,FL,33704.0,Cafe s
81,06/25/21,"$1,000.00",Check,Wagzone,Inc,2300 Central Ave,St. Petersburg,FL,33712.0,Hospitality Industry s
82,06/25/21,"$1,000.00",Check,Brian,Adams,6008 Lee Street NE,St. Petersburg,FL,33703.0,Mortgage Broker
83,06/23/21,"$1,000.00",InKind,Courigans,Pub,1 Beach Dr SE #41,St. Petersburg,FL,33701.0,Hopitality s

---
---

In [18]:
df.dtypes

Date             object
Amount           object
Payment Type     object
First            object
Last             object
Address          object
City             object
State            object
Zipcode         float64
Occupation       object
dtype: object

In [19]:
df['Date'] = pd.to_datetime(df['Date'])

In [58]:
df.dtypes

Date            datetime64[ns]
Amount                  object
Payment Type            object
First                   object
Last                    object
Address                 object
City                    object
State                   object
Zipcode                float64
Occupation              object
dtype: object

In [51]:
group = df.groupby(['Date', 'Last'])
df_test = group.first()

In [52]:
df_test

                       Amount Payment Type     First  \
Date       Last
2021-06-03 Brother  $1,000.00       InKind   Scatter
           Co.      $1,000.00       InKind    Evolve
2021-06-04 Boland   $4,000.00         Loan     Peter
           Poor       $250.00        Check      W.G.
2021-06-05 Beckert    $100.00        Check  Kristina
...                       ...          ...       ...
2021-06-29 Marolf      $15.00        Check     Craig
2021-06-30 Clark      $100.00        Check   Patrick
           Mock       $100.00        Check   Stephen
2021-07-01 Carreno    $500.00        Check     Jerry
2021-07-02 Roman      $100.00        Check      Lisa

                                                     Address  \
Date       Last
2021-06-03 Brother           Productions 433 Central Ave 4th
           Co.      475 Central Ave, M7 Saint Petersburg, FL
2021-06-04 Boland                      4670 Chancellor St NE
           Poor                           111 2nd Ave NE ste
2021-06-05 Beckert                            1243 29th St N
...                                                      ...
2021-06-29 Marolf                         441 33RD ST N, Apt
2021-06-30 Clark                          869 Timber Pond Dr
           Mock                             433 41 st Ave NE
2021-07-01 Carreno                               PO Box 2222
2021-07-02 Roman                                PO Box 15601

                                City State  Zipcode              Occupation
Date       Last
2021-06-03 Brother             Floor   NaN      NaN              Business s
           Co.                   NaN   NaN  33701.0              Business s
2021-06-04 Boland   Saint Petersburg    FL      NaN  Restaurateur ateToSelf
           Poor                  NaN   NaN   1600.0              Accountant
2021-06-05 Beckert  Saint Petersburg    FL      NaN           Salon Manager
...                              ...   ...      ...                     ...
2021-06-29 Marolf                NaN   NaN   1107.0                     NaN
2021-06-30 Clark             Brandon    FL  33510.0      Restaurant Manager
           Mock       St. Petersburg    FL  33703.0                     NaN
2021-07-01 Carreno    St. Petersburg    FL  33731.0                 Retired
2021-07-02 Roman      St. Petersburg    FL  33733.0                     NaN

[83 rows x 8 columns]

In [53]:
df_test.shape

(83, 8)

In [26]:
# df.sort_values([df['Date'], df['Last']])